<div id="about">
  <div class="container">
    <h1>about me</h1>
    <p>愛知県出身、21歳の山路桃代です。</p>
    <div class="about-page">
      <a href="#">Qiita: https://qiita.com</a>
      <a href="#">GitHub: https://github.com</a>
    </div>
  </div>
</div>

<div id="skill">
  <div class="container">
    <h1>skill</h1>
    <div class="skill-box">
      <div class="skill-list skill-list-01">
        <h2>フロントエンド</h2>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>Sass</li>
          <li>javascript</li>
          <li>jQuery</li>
        </ul>
      </div>
      <div class="skill-list">
        <h2>バックエンド</h2>
        <ul>
          <li>Ruby  Ruby on Rails</li>
          <li>Node.js</li>
          <li>PHP</li>
          <li>MySQL</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="works">
  <div class="container">
    <h1>works</h1>
    <ul class="works-list">
      <li><a href="#"><img src="../IMG_5871.JPG"><p>Petting Farm</p></a></li>
      <li><a href="#"><img src="../IMG_5871.JPG"><p>Dream-App</p></a></li>
      <li><a href="#"><img src="../IMG_5871.JPG"><p>Tweet-App</p></a></li>
    </ul>
  </div>
</div>


<div class="scroll-top-btn">
  <a href="#"><span class="material-icons">arrow_circle_up</span></a>
</div>