<div id="about">
  <div class="container">
    <h1>about me</h1>
    <p>愛知県出身、21歳の山路桃代です。普段は新作コスメのレビューを見たり、動物の動画などを見て癒されています。<br>
    現在カフェでアルバイトをしながら、独学でコツコツとプログラミングを修得しています。カフェのアルバイトは今年で３年目になり、最近、ハートやリーフのカフェラテが作れるようになりました！</p>
    <div class="about-page">
      <a href="https://qiita.com/momo1010" target="_blank" rel="noopener noreferrer">-Qiita:　https://qiita.com/momo1010</a>
      <a href="https://github.com/mochirin1010" target="_blank" rel="noopener noreferrer">-GitHub:　https://github.com/mochirin1010</a>
    </div>
  </div>
</div>

<div id="skill">
  <div class="container">
    <h1>skill</h1>
    <div class="skill-box">
      <div class="skill-list">
        <h2>フロントエンド</h2>
        <ul>
          <li><strong>HTML</strong>
            <span class="material-icons">star_rate</span><span class="material-icons">star_rate</span><span class="material-icons">star_rate</span><span class="material-icons">star_rate</span>
            <span class="material-icons">star_border</span>
            <p>基本的なコーディングは問題ありません。</p>
          </li>
          <li><strong>CSS</strong>
            <span class="material-icons">star_rate</span><span class="material-icons">star_rate</span><span class="material-icons">star_rate</span><span class="material-icons">star_rate</span>
            <span class="material-icons">star_border</span>
            <p>レスポンシブやSassを含め、基本的なコーディングは問題ありません。</p>
          </li>
          <li><strong>javascript</strong>
            <span class="material-icons">star_rate</span><span class="material-icons">star_rate</span>
            <span class="material-icons">star_border</span><span class="material-icons">star_border</span><span class="material-icons">star_border</span>
            <p>あまり複雑なコードを書くことはできませんが、</p>
          </li>
          <li><strong>jQuery</strong>
            <span class="material-icons">star_rate</span><span class="material-icons">star_rate</span>
            <span class="material-icons">star_border</span><span class="material-icons">star_border</span><span class="material-icons">star_border</span>
          </li>
        </ul>
      </div>
      <div class="skill-list">
        <h2>バックエンド</h2>
        <ul>
          <li><strong>Ruby  Ruby on Rails</strong>
            <span class="material-icons">star_rate</span><span class="material-icons">star_rate</span><span class="material-icons">star_rate</span>
            <span class="material-icons">star_border</span><span class="material-icons">star_border</span>
            <p>レスポンシブやSassを含め、基本的なコーディングは問題ありません。</p>
          </li>
          <li><strong>Node.js</strong>
            <span class="material-icons">star_rate</span><span class="material-icons">star_rate</span>
            <span class="material-icons">star_border</span><span class="material-icons">star_border</span><span class="material-icons">star_border</span>
          </li>
          <li><strong>PHP</strong>
            <span class="material-icons">star_rate</span>
            <span class="material-icons">star_border</span><span class="material-icons">star_border</span><span class="material-icons">star_border</span><span class="material-icons">star_border</span>
          </li>
          <li><strong>MySQL</strong>
            <span class="material-icons">star_rate</span><span class="material-icons">star_rate</span>
            <span class="material-icons">star_border</span><span class="material-icons">star_border</span><span class="material-icons">star_border</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="works">
  <div class="container works-container">
    <h1>works</h1>
    <ul class="works-list">
      <li class="works-ex-1"><img src="..//img/Petting_Farm_top.png"><p>Petting Farm</p></li>
      <li class="works-ex-2"><img src="..//img/Dream_App_top.png"><p>Dream-App</p></li>
      <li class="works-ex-3"><img src="..//img/Peachstagram_top.png"><p>Peachstagram</p></li>
    </ul>

    <div class="works-display works-1">
      <h2>Petting Farm</h2>
      <div class="works-box">
        <div class="works-box-left">
          <p>アプリの説明、工夫した点など</p>
          <a href="#">リンク</a>
          <a href="#">github</a>
          <h3>使用言語など</h3>
          <p>Ruby on Rails, HTML/CSS(SASS), JavaScript(jQuery), MySQL</p>
        </div>
        <div class="works-box-right">
          <ul class="tab">
            <li class="active"><img src="..//img/Petting_Farm_top.png"></li>
            <li><img src="..//img/Petting_Farm_about.png"></li>
            <li><img src="..//img/Petting_Farm_my.png"></li>
            <li><img src="..//img/Petting_Farm_pet_index.png"></li>
            <li><img src="..//img/Petting_Farm_pet.png"></li>
            <li><img src="..//img/Petting_Farm_post_index.png"></li>
            <li><img src="..//img/Petting_Farm_post_new.png"></li>
          </ul>
          <div class="tabContent active"><img src="..//img/Petting_Farm_top.png"></div>
          <div class="tabContent"><img src="..//img/Petting_Farm_about.png"></div>
          <div class="tabContent"><img src="..//img/Petting_Farm_my.png"></div>
          <div class="tabContent"><img src="..//img/Petting_Farm_pet_index.png"></div>
          <div class="tabContent"><img src="..//img/Petting_Farm_pet.png"></div>
          <div class="tabContent"><img src="..//img/Petting_Farm_post_index.png"></div>
          <div class="tabContent"><img src="..//img/Petting_Farm_post_new.png"></div>
        </div>
      </div>
      <div class="works-close-btn">
        <span class="material-icons highlight-off-icon">highlight_off</span>
      </div>
    </div>
    <div class="works-display works-2">
      <h2>Dream-App</h2>
      <div class="works-box">
        <div class="works-box-left">
          <p>目標や夢を自由に投稿できるWebアプリケーションです。文字にしてみることで夢や目標が具体化され、それを何度も繰り返し見ることで潜在意識に刻まれると言われています。 ノートや日記に書くのも良いですが、みんなに目標を公表することでモチベーションがUPしたり、自分が何を目標にしているかがよりわかりやすくなると考えたので作りました。このWebアプリケーションで夢や目標を共有し、あなたの夢や目標を実現させていきましょう！！</p>
          <a href="#">リンク</a>
          <a href="https://github.com/mochirin1010/4.Dream_App">github</a>
          <h3>使用言語など</h3>
          <p>Node.js, HTML/CSS(SASS), JavaScript, MySQL</p>
        </div>
        <div class="works-box-right">
          <ul class="tab">
            <li class="active"><img src="..//img/Dream_App_top.png"></li>
            <li><img src="..//img/Dream_App_index.png"></li>
            <li><img src="..//img/Dream_App_edit.png"></li>
            <li><img src="..//img/Dream_App_my.png"></li>
            <li><img src="..//img/Dream_App_calendar.png"></li>
          </ul>
          <div class="tabContent active"><img src="..//img/Dream_App_top.png"></div>
          <div class="tabContent"><img src="..//img/Dream_App_index.png"></div>
          <div class="tabContent"><img src="..//img/Dream_App_edit.png"></div>
          <div class="tabContent"><img src="..//img/Dream_App_my.png"></div>
          <div class="tabContent"><img src="..//img/Dream_App_calendar.png"></div>
        </div>
      </div>
      <div class="works-close-btn">
        <span class="material-icons highlight-off-icon">highlight_off</span>
      </div>
    </div>
    <div class="works-display works-3">
      <h2>Peachstagram</h2>
      <div class="works-box">
        <div class="works-box-left">
          <p>instagram風Webアプリケーションです。自分のプロフィールを設定し、自由に画像を投稿することができます。
          この製作を通して、CRUDや、いいね機能、deviceを使わずにユーザー登録機能をつけるなど、基礎的な考え方を学ぶことができました。
          </p>
          <a href="https://github.com/mochirin1010/3.tweet_app-Peachstagram">github</a>
          <h3>使用言語など</h3>
          <p>Ruby on Rails, HTML/CSS, JavaScript(jQuery)</p>
        </div>
        <div class="works-box-right">
          <ul class="tab">
            <li class="active"><img src="..//img/Peachstagram_top.png"></li>
            <li><img src="..//img/Peachstagram_login.png"></li>
            <li><img src="..//img/Peachstagram_index.png"></li>
            <li><img src="..//img/Peachstagram_my.png"></li>
          </ul>
          <div class="tabContent active"><img src="..//img/Peachstagram_top.png"></div>
          <div class="tabContent"><img src="..//img/Peachstagram_login.png"></div>
          <div class="tabContent"><img src="..//img/Peachstagram_index.png"></div>
          <div class="tabContent"><img src="..//img/Peachstagram_my.png"></div>
        </div>
      </div>
      <div class="works-close-btn">
        <span class="material-icons highlight-off-icon">highlight_off</span>
      </div>
    </div>
  </div>
</div>

<div id="profile">
  <div class="container profile-container">
    <h1>profile</h1>
    <div class="profile-box fadeIn">
      <div class="profile-pad profile-pad01">
        <img src="..//img/pet_icon.png">
        <p>2000〜<p>
      </div>
      <div class="profile-ex01">幼稚園の頃から中学2年生までエレクトーン、ピアノを習っていました。個人で弾くより、みんなでアンサンブルして一つの曲を演奏することが好きで、曲が完成した時の喜びは今でも心に残っています。</div>
    </div>
    <div class="profile-box fadeIn">
      <div class="profile-pad profile-pad02">
        <img src="..//img/pet_icon.png">
        <p>2016〜<p>
      </div>
      <div class="profile-ex02">高校生ではラグビー部のマネージャーをしていました。顧問の先生からテーピングを教わり、怪我をした部員にテーピングを巻く担当もしていました。ギプスやテーピングに興味を持ち、スポーツで怪我をした人のサポートをしたいという思いから、柔道整復師の資格を取るための大学に行くことを決めます。</div>
    </div>
    <div class="profile-box fadeIn">
      <div class="profile-pad profile-pad01">
        <img src="..//img/pet_icon.png">
        <p>2019〜<p>
      </div>
      <div class="profile-ex01">特待生で合格し、憧れの大学生活がスタートしましたが、必須である柔道の実技の授業で行き詰まってしまいました。柔道整復師の他に、もっと自分に合う仕事があるかもしれないと思い、1年間休学をして、方向転換することを決め、大学中退を決意しました。</div>
    </div>
    <div class="profile-box fadeIn">
      <div class="profile-pad profile-pad02">
        <img src="..//img/pet_icon.png">
        <p>2020〜<p>
      </div>
      <div class="profile-ex02">コスメレビューや動物の動画を見ているうちに、このサービスって誰がどうやって作っているのだろうと思い、ITエンジニアの存在を知りました。自分もコードを書いて役に立つサービスを作りたいという気持ちから、プログラミングの勉強を始め、コードを考える楽しさを知りました。</div>
    </div>
  </div>
</div>


<div class="scroll-top-btn">
  <a href="#"><span class="material-icons">arrow_circle_up</span></a>
</div>