<div id="about">
  <div class="container">
    <h1>about me</h1>
    <p>愛知県出身、21歳の山路桃代です。</p>
  </div>
</div>

<div id="skill">
  <div class="container">
    <h1>skill</h1>
    <ul class="skill-list">
      <li>HTML5</li>
      <li>css scss</li>
      <li>Ruby Ruby on Rails</li>
      <li>javascript Node.js</li>
      <li>jQuery</li>
      <li>PHP</li>
    </ul>
  </div>
</div>

<div id="works">
  <div class="container">
    <h1>works</h1>
    <ul class="works-list">
      <li><a href="#"><img src="../IMG_5871.JPG"><p>Petting Farm</p></a></li>
      <li><a href="#"><img src="../IMG_5871.JPG"><p>Dream-App</p></a></li>
      <li><a href="#"><img src="../IMG_5871.JPG"><p>Tweet-App</p></a></li>
    </ul>
  </div>
</div>


<div class="scroll-top-btn">
  <a href="#"><span class="material-icons">arrow_circle_up</span></a>
</div>