// reset ===============================
* {
  box-sizing: border-box;
}

html {
  // font-family: 'Noto Sans JP', sans-serif;
  font-family: "游ゴシック体", "游ゴシック Medium", "Yu Gothic", "メイリオ", sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #434546;
}

h1, p {
  margin: 0;
}

// 共通レイアウト=============================
body {
  color: #434546;
  background-color:rgb(255, 250, 254);
  margin: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding-top: 60px;
}

.container h1 {
  text-align: center;
}

@media(max-width: 1200px) {
  .container {
    width: 90%;
  }
}

// header====================================
header {
  color: rgb(255, 250, 254);
  background-image: url("../IMG_5871.JPG");
  background-size: 100%;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 600px;
}

.logo {
  text-align: center;
  letter-spacing: 3px;
  padding-top: 200px;
}

@media(max-width: 1100px) {
  header {
    height: 450px;
  }
}

@media(max-width: 900px) {
  header {
    height: 350px;
  }

  .logo {
    padding-top: 150px;
  }
}

@media(max-width: 700px) {
  header {
    height: 280px;
  }

  .logo {
    padding-top: 100px;
    font-size: 0.8em;
  }
}

@media(max-width: 400px) {
  header {
    height: 160px;
  }

  .logo {
    padding-top: 70px;
    font-size: 0.7em;
  }
}

// nav===========================
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: rgb(255, 250, 254);
  height: 60px;
  padding-top: 10px;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-list li{
  line-height: 40px;
  padding: 0 20px;
}

.nav-list a {
  display: block;
  border-bottom: solid 1.5px rgb(255, 250, 254);
  transition: border-bottom 0.7s
}

.nav-list a:hover {
  border-bottom: solid 1.5px #434546;
}


// top--about===========================
#about {
  height: 300px;
  background-color: rgb(248, 240, 246);
}

// top--skill=============================
#skill {
  background-color: rgb(255, 250, 254);
  height: 300px;
}

// top--works=====================
#works {
  background-color: rgb(248, 240, 246);
}

.works-list {
  display: flex;
}

.works-list li {
  margin: 5px;
}

.works-list img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: opacity 0.3s
}

.works-list p {
  text-align: center;
}

.works-list li:hover {
  opacity: 0.7;
}



.scroll-top-btn {
  margin: 15px 0;
  text-align: center;
}

.scroll-top-btn span{
  color: rgb(160, 158, 158);
  font-size: 40px;
  transition: transform 0.3s
}

.scroll-top-btn span:hover {
  transform: translateY(-0.2em);
}




// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
