// reset ===============================
* {
  box-sizing: border-box;
}

html {
  // font-family: 'Noto Sans JP', sans-serif;
  font-family: "游ゴシック体", "游ゴシック Medium", "Yu Gothic", "メイリオ", sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #434546;
}

p {
  margin: 0;
}

// 共通レイアウト=============================
body {
  color: #434546;
  background-color:rgb(255, 250, 254);
  margin: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 30px 0;
}

.container h1 {
  text-align: center;
}

@media  screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

// header====================================
header {
  color: rgb(255, 250, 254);
  background-image: url("../IMG_5871.JPG");
  background-size: 100%;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 600px;
}

.logo {
  text-align: center;
  letter-spacing: 3px;
  padding-top: 200px;
}

@media  screen and (max-width: 1100px) {
  header {
    height: 450px;
  }
}

@media  screen and (max-width: 900px) {
  header {
    height: 350px;
  }

  .logo {
    padding-top: 150px;
  }
}

@media  screen and (max-width: 700px) {
  header {
    height: 280px;
  }

  .logo {
    padding-top: 100px;
    font-size: 0.8em;
  }
}

@media  screen and (max-width: 550px) {
  header {
    height: 160px;
  }

  .logo {
    padding-top: 70px;
    font-size: 0.7em;
  }
}

// nav===========================
nav {
  // position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: rgb(255, 250, 254);
  height: 60px;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-list li{
  line-height: 40px;
  padding: 10px 20px 0 20px;
}

.nav-list a {
  display: block;
  border-bottom: solid 1.5px rgb(255, 250, 254);
  transition: border-bottom 0.7s
}

.nav-list a:hover {
  border-bottom: solid 1.5px #434546;
}

.menu-btn,
.menu {
  display: none;
}

@media screen and (max-width: 550px) {
  nav {
    height: 45px;
  }
  .nav-list {
    display: none;
  }
  .menu-btn,
  .close-btn {
    z-index: 2;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(255, 250, 254);
  }
  .menu li {
    padding: 3px;
    text-align: center;
    box-sizing: border-box;
  }
  .menu {
    transform: translateX(-100vw);
    transition: all 0.4s linear;
  }
  .menu.is-active{
    transform: translateX(0);
  }
}


// top--profile===========================
#profile,
#works {
  background-color: rgb(248, 240, 246);
}

.profile-page {
  margin-top: 30px;
}

.profile-page a,
.works-box-left a {
  display: block;
  line-height: 1.8em;
  color: rgb(141, 81, 123);
}

.profile-page a:hover {
  opacity: 0.8;
}

// top--skill=============================
#skill {
  background-color: rgb(255, 250, 254);
}

.skill-editor {
  text-align: center;
}

.skill-box {
  display: flex;
  width: 900px;
  margin: 0 auto;
  justify-content: space-between;
}

.skill-list {
  width: 400px;
}

.skill-list h2 {
  margin: 30px 0;
}

.skill-list li {
  padding-bottom: 25px;
}

.skill-list span {
  vertical-align: top;
  color: rgb(255, 192, 17);
}

@media screen and (max-width: 1000px) {
  .skill-box {
    flex-direction: column;
    width: 100%;
  }
  .skill-list {
    width: 100%;
    margin: 0 auto;
  }
}

// top--works=====================
.works-list {
  display: flex;
  width: 930px;
  margin: 0 auto;
}

.works-list li {
  cursor: pointer;
  margin: 5px;
}

.works-list img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: opacity 0.3s
}

.works-list p {
  text-align: center;
}

.works-list li:hover {
  opacity: 0.7;
}

.works-container {
  position: relative;
}

.works-container h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.works-container h3 {
  margin: 0;
}

.works-display {
  // display: none;
  transition: opacity 0.6s, visibility 0.6s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 120px;
  width: 100%;
  height: auto;
  padding: 5px 15px;
  background-color: rgb(255, 250, 254);
  border: 1px solid #cab8c6;
  border-radius: 8px;
  z-index: 10;
}

.works-display h3 {
  margin-top: 15px;
}

.works-active {
  // display: block;
  opacity: 1;
  visibility: visible;
}

.works-box {
  display: flex;
}

.works-box-left a {
  margin-top: 5px;
}

.works-box-left {
  width: 40%;
}

.works-box-right {
  width: 60%;
  padding-left: 15px;
}

.works-close-btn {
  width: 50px;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
}

.works-close-btn span {
  font-size: 30px;
}

.highlight-off-icon {
  color: #a09e9e;
}

ul.tab {
  list-style: none;
}

ul.tab li {
  float: left;
  margin-right: 10px;
  cursor: pointer;
}

ul.tab li img {
  object-fit: cover;
  width: 90px;
  height: 50px;
  box-shadow: 1px 1px 2px #a7a7a7;
}

ul.tab li.active img {
  box-shadow: none;
}

div.tabContent {
  clear: both;
  width: 100%;
  display: none;
}

div.tabContent img {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0px 0px 5px #a7a7a7;
}

div.active {
  display: block;
}

.works-language {
  margin-top: 10px;
}


.scroll-top-btn {
  margin: 15px 0;
  text-align: center;
}

.scroll-top-btn span{
  color: rgb(160, 158, 158);
  font-size: 40px;
  transition: transform 0.3s
}

.scroll-top-btn span:hover {
  transform: translateY(-0.2em);
}

@media  screen and (max-width: 1000px) {
  .works-list {
    width: 780px;
  }
  .works-list img {
    width: 250px;
    height: 160px;
  }
  .works-box {
    flex-direction: column;
  }
  .works-box-left,
  .works-box-right {
    width: 100%;
    padding: 0;
  }
  .works-box-left {
    margin-bottom: 40px;
  }
}

@media  screen and (max-width: 850px) {
  .works-list {
    width: 520px;
    flex-wrap: wrap;
  }
}

@media  screen and (max-width: 650px) {
  .works-list {
    width: 250px;
  }
  .works-list li {
    margin: 10px 0;
  }
}

// about===============================
.about-box {
  position: relative;
  margin: 70px 0;
}

.fadeIn {
  transition: 1s;
  opacity: 0;
}

.fadeIn.animated {
  opacity: 1;
}

.about-ex01 {
  position: absolute;
  top: 45px;
  left: 60%;
  width: 420px;
}

.about-ex02 {
  position: absolute;
  top: 45px;
  // left: 0%;
  right: 60%;
  width: 420px;
}

.about-pad p {
  position: absolute;
  color: rgb(255, 255, 255);
  top: 60px;
}

.about-pad01 p {
  left: 43%;
}

.about-pad02 p {
  left: 48%;
}

.about-pad img {
  width: 110px;
  height: auto;
  object-fit: cover;
}

.about-pad01 img {
  margin-left: 40%;
}

.about-pad02 img {
  margin-left: 45%;
}

@media  screen and (max-width: 1100px) {
  .about-pad01 img {
    margin-left: 0%;
  }
  .about-pad02 img {
    margin-left: 5%;
  }
  .about-pad01 p {
    left: 3%;
  }
  .about-pad02 p {
    left: 8%;
  }
  .about-ex01,
  .about-ex02 {
    top: 45px;
    left: 20%;
    width: 70%;
  }
}

@media  screen and (max-width: 850px) {
  .about-box {
    margin: 120px 0;
    font-size: 0.9em;
  }
  .about-pad img {
    width: 80px;
  }
  .about-pad p {
    top: 43px;
    font-size: 0.7em;
  }
  .about-pad01 p {
    left: 3%;
  }
  .about-pad02 p {
    left: 8%;
  }
}

@media  screen and (max-width: 600px) {
  .about-box {
    margin-bottom: 230px;
  }
  .about-pad img {
    width: 60px;
  }
  .about-pad02 img {
    margin-left: 4%;
  }
  .about-pad p {
    top: 30px;
    color: rgb(253, 200, 24);
  }
  .about-pad01 p {
    left: 4%;
  }
  .about-pad02 p {
    left: 8%;
  }
}


// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
