// reset ===============================
* {
  box-sizing: border-box;
}

html {
  // font-family: 'Noto Sans JP', sans-serif;
  font-family: "游ゴシック体", "游ゴシック Medium", "Yu Gothic", "メイリオ", sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #434546;
}

p {
  margin: 0;
}

// 共通レイアウト=============================
body {
  color: #434546;
  background-color:rgb(255, 250, 254);
  margin: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 30px 0;
}

.container h1 {
  text-align: center;
}

@media  screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

// header====================================
header {
  color: rgb(255, 250, 254);
  background-image: url("../IMG_5871.JPG");
  background-size: 100%;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 600px;
}

.logo {
  text-align: center;
  letter-spacing: 3px;
  padding-top: 200px;
}

@media  screen and (max-width: 1100px) {
  header {
    height: 450px;
  }
}

@media  screen and (max-width: 900px) {
  header {
    height: 350px;
  }

  .logo {
    padding-top: 150px;
  }
}

@media  screen and (max-width: 700px) {
  header {
    height: 280px;
  }

  .logo {
    padding-top: 100px;
    font-size: 0.8em;
  }
}

@media  screen and (max-width: 550px) {
  header {
    height: 160px;
  }

  .logo {
    padding-top: 70px;
    font-size: 0.7em;
  }
}

// nav===========================
nav {
  // position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: rgb(255, 250, 254);
  height: 60px;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-list li{
  line-height: 40px;
  padding: 10px 20px 0 20px;
}

.nav-list a {
  display: block;
  border-bottom: solid 1.5px rgb(255, 250, 254);
  transition: border-bottom 0.7s
}

.nav-list a:hover {
  border-bottom: solid 1.5px #434546;
}

.menu-btn,
.menu {
  display: none;
}

@media screen and (max-width: 550px) {
  nav {
    height: 45px;
  }
  .nav-list {
    display: none;
  }
  .menu-btn,
  .close-btn {
    z-index: 2;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(255, 250, 254);
  }
  .menu li {
    padding: 3px;
    text-align: center;
    box-sizing: border-box;
  }
  .menu {
    transform: translateX(-100vw);
    transition: all 0.4s linear;
  }
  .menu.is-active{
    transform: translateX(0);
  }
}


// top--about===========================
#about,
#works {
  background-color: rgb(248, 240, 246);
}

.about-page a {
  display: block;
}

// top--skill=============================
#skill {
  background-color: rgb(255, 250, 254);
}

.skill-box {
  display: flex;
}

// top--works=====================
.works-list {
  display: flex;
  width: 780px;
  margin: 0 auto;
}

.works-list li {
  margin: 5px;
}

.works-list img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  transition: opacity 0.3s
}

.works-list p {
  text-align: center;
}

.works-list li:hover {
  opacity: 0.7;
}

.scroll-top-btn {
  margin: 15px 0;
  text-align: center;
}

.scroll-top-btn span{
  color: rgb(160, 158, 158);
  font-size: 40px;
  transition: transform 0.3s
}

.scroll-top-btn span:hover {
  transform: translateY(-0.2em);
}

@media  screen and (max-width: 850px) {
  .works-list {
    width: 520px;
    flex-wrap: wrap;
  }
}

@media  screen and (max-width: 650px) {
  .works-list {
    width: 250px;
  }
  .works-list li {
    margin: 10px 0;
  }
}




// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
